/// bootstrap overrides
// https://github.com/twbs/bootstrap/blob/main/scss/_variables.scss
@import "~@blueprintjs/core/lib/scss/variables";

// $max-text-width: 60em;
$max-container-width: 950px;
$spacer: $pt-grid-size;
$default-font-size: 15px;
$default-text-color: $gray1;