@import "./variables.scss";

@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "~@blueprintjs/select/lib/css/blueprint-select.css";
@import "@react-sigma/core/lib/react-sigma.min.css";

.page-container {
    margin: 0 auto;
    max-width: $max-container-width;
    // margin-left: $spacer * 2;
    // margin-right: $spacer * 2;
    line-height: 1.4;
}

.section {
    // padding-left: $spacer;
    // padding-right: $spacer;
    padding-bottom: $spacer * 1;
}

html {
    scroll-behavior: smooth;
    font-size: $default-font-size;
    color: $default-text-color;
    background-color: $light-gray4;
}

table.wide {
    width: 100%;
}

td .bp4-control,
th .bp4-control {
    margin-bottom: 0 !important;
    // padding: 0 !important;
}

td.numeric,
th.numeric {
    text-align: right !important;
}

.page-column-area {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.page-column {
    min-width: 30%;
    max-width: 50%;
    padding-right: 2 * $spacer
}

.page-column-full {
    width: 100%;
}

.bp4-navbar-heading a,
.bp4-navbar-heading a:hover {
    color: inherit;
    text-decoration: none;
}

.spaced-icon {
    margin-right: 0.3em;
}

h1 {
    clear: both;
    padding-top: $spacer;

    .bp4-icon {
        vertical-align: middle;
    }
}