@import "./variables.scss";

.storyCardArea {
    display: flex;
    // flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.storyCard {
    flex: 0 1 30%;
    // margin-left: $spacer;
    margin-bottom: $spacer * 2;
}

.nomNom {
    margin-top: $spacer * 4;
    margin-bottom: $spacer * 6;
}